*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --ff-primary: "Popins", sans-serif;
    --text-color: white;
    --hue: 194;
    --primary-color: hsl(var(--hue),100%,63%);

}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: black;
}

body *{
    font-family: var(--ff-primary);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

#app{
    padding: 2rem;
    max-width: 1120px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
}

header h1{
    font-size: 2rem;
}

#logo{
    object-fit: cover;
}

.search{
    display: flex;
    align-items: center;
    gap: 8px;
}

.search input{
    height: 4.8rem;
    width: 400px;
    border: 1px solid #06181C;
    border-radius: .4rem;
    padding: 0 .8rem;
    background: #06181C;
    color: white;
}

.search button{
    background-color: #065E7C;
    border-radius: .4rem;
    height: 4.8rem;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 170px;
    justify-content: center;

}

.search button:hover{
    filter: brightness(1.1);
}

table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
    border: 1px solid #4A808C;
}

table * {
    font-size: 1.4rem;
    color: var(--text-color);
}

table th {
    background: #092D38;
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;
}

table th:first-child{
    border-top-left-radius: .4rem;
}

table th:last-child{
    border-top-right-radius: .4rem;
}

table tr:nth-child(odd){
    background: rgba(6, 22, 27, 0.50);
}

table tr{
    background: #06181C;
    border: 1px solid #4A808C;
}

table td {
    padding: 1.5rem;
    text-align: left;
}

td.user{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

td.user a{
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td.user img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

td .remove{
    background: none;
    border: none;
    color: red;
}

.zero{
    max-width: 1120px;
    border: 1px solid #4A808C;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 400px;
}

.zero p{
    color: #4E5455;
    font-family: "Popins", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.781px;
}

.hide{
    display: none;
}




